#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 200px;
  padding-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
@keyframes ldio-yzaezf3dcmj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-yzaezf3dcmj div {
  box-sizing: border-box !important;
}

.ldio-yzaezf3dcmj > div {
  position: absolute;
  width: 178.2px;
  height: 178.2px;
  top: 9.9px;
  left: 9.9px;
  border-radius: 50%;
  border: 15.84px solid #000;
  border-color: #03ef0b transparent #03ef0b transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj > div:nth-child(2),
.ldio-yzaezf3dcmj > div:nth-child(4) {
  width: 142.56px;
  height: 142.56px;
  top: 27.72px;
  left: 27.72px;
  animation: ldio-yzaezf3dcmj 1s linear infinite reverse;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  border-color: transparent #4b06ef transparent #4b06ef;
}
.ldio-yzaezf3dcmj > div:nth-child(3) {
  border-color: transparent;
}
.ldio-yzaezf3dcmj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:before,
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 15.84px;
  height: 15.84px;
  top: -15.84px;
  left: 65.34px;
  background: #03ef0b;
  border-radius: 50%;
  box-shadow: 0 162.35999999999999px 0 0 #03ef0b;
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  left: -15.84px;
  top: 65.34px;
  box-shadow: 162.35999999999999px 0 0 0 #03ef0b;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
  border-color: transparent;
}
.ldio-yzaezf3dcmj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:before,
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 15.84px;
  height: 15.84px;
  top: -15.84px;
  left: 47.519999999999996px;
  background: #4b06ef;
  border-radius: 50%;
  box-shadow: 0 126.72px 0 0 #4b06ef;
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  left: -15.84px;
  top: 47.519999999999996px;
  box-shadow: 126.72px 0 0 0 #4b06ef;
}
.loadingio-spinner-double-ring-2by998twmg8 {
  width: 198px;
  height: 198px;
  display: inline-block;
  overflow: hidden;
  background: #121111;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}
